mat-toolbar{
	background-color: #00643e; 
	font-size: 1.5em;
    box-shadow: 0px -20px 30px -20px #444040;

}
mat-toolbar-row{
	max-width: 1800px;
    margin: 0 auto 0 auto;
	padding: 0;
}

a{
    padding: 0 15px;
}
