mat-toolbar{
	background-color: rgb(255, 255, 255);
	font-size: 2em;
	box-shadow: 0 0px 30px -20px #000000;
	margin-bottom: 10px;
}
mat-toolbar-row{
	max-width: 1800px;
    margin: 0 auto 0 auto;
	padding: 0;
}

a {
	background-color: inherit;
	color: inherit;
	text-decoration: none;
}

a.active{
	color: rgb(0, 0, 0);
	background-color: #1fc58e;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	transition: all 0.5s ease 0.1s;
}

.brand {
	display: flex;
	justify-content: start;
	text-align: center;
	transition: transform .3s ease-in-out;
	
	&:hover {
	  transform: rotateX(35deg), translateY(-50%);   
	  span {
		color: #ccc;
		&:nth-child(odd) {
		  transform: skewY(15deg);      
		}
		&:nth-child(even) {
		  transform: skewY(-15deg);      
		  background-color: #f9f9f9;
		  color: #a6a6a6;
		}
	  }
	}
	
	
	> span {
	  display: block;
	  background-color: #fff;
	  width: 1.5em;
	  height: 1.5em;
	  line-height: 1.5em;
	  transition: transform .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
	  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.253);
	  &:first-child {
		border-radius: 5px 0 0 5px;
	  }
	}
	
  }
